# files                 team/user
*                       @b4u5 @CodeJuggernaut @QADecentralGames @leo-2408 @QADecentralGames3 @RMDecentralGames @SpicyPrawn @c0ur7ney
src/trackingEvents.d.ts   @decentraland/data-team
